.preparingComponentAnimation{
    height: 70px;
    width: 70px;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}
.preparingComponentAnimation img{
    max-width: 70px;
}
@keyframes rotate {
    15% { transform: rotate(0deg);}
    25% { transform: rotate(90deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(270deg);}
    100%{ transform: rotate(360deg);}
}